@using MVCWebApplicationHTD.Models;
@model CarModelcs
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DELETE</title>
</head>
<body><h1>DAT DELETED</h1>
</body>
</html>
